@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Bring your <span class="texthighlight">contacts</span> in one convenient location
            </h1>
            <div class="subtitle">
                Experience the exceptional performance of ContactKeeper, meticulously developed to enhances your contact management experience.
                Try it today!<br><br><strong>Powerful and efficient tool built with:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-heroku-plain-wordmark colored icon"></i>
            </div>
@*            <div class="text-start mt-5">
                <a class="btn btn-lg btn-primary rounded-pill w-25">DEMO</a>
            </div>*@
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/logo.png" class="img-fluid">
    </div>
</div>
